.someClass {
}

.affair {
    display: flex;
    width: 300px;
}

.item {
    margin: 0;
    width: 100px;
}

.active {
    background: darkgrey;
    font-weight: bold;
}

.high {
    color: darkred;
}

.middle {
    color: orangered;
}

.low {
    color: green;
}

.buttonDelete {
    font-weight: bold;
}