.blue {
    border-bottom: 5px solid blue;
}

.hw {
    font-weight: bold;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}
.spanClassName {}

.error {
    color: red;
}
.errorInput {
    background-color: red;
}
