.someClass {

}

.input {
    background-color: lightblue;
}

.error {
    border: 1px solid darkred;
    background-color: rosybrown;
}

.errorMessage {
    color: darkred;
}

.buttonAdd {
    font-weight: bold;
}